/**header css start**/

.custom-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-signin .btn-login {
    background-color: #FF5A01;
    color: #fff;
    transition: all .3s linear;
    padding: 4px 20px;
    text-transform: uppercase;
    font-size: 14px;
}

.header-signin .btn-login:hover {
    background-color: #ffffff;
    color: #FF5A01;
    transition: all .3s linear;
}

.header-logo {
    max-width: 200px;
}

.header-signin .btn-register {
    background-color: #fff;
    color: #FF5A01;
    transition: all .3s linear;
    padding: 4px 20px;
    font-size: 14px;
    text-transform: uppercase;
}

.header-signin .btn-register:hover {
    background-color: #FF5A01;
    color: #ffffff;
    transition: all .3s linear;
}

.menu-listing {
    position: absolute;
    top: 85px;
    background-color: #fff;
    z-index: 9;
    width: 100%;
    display: flex;
    left: 0;
    box-shadow: 0 0 16px rgba(0, 0, 0, .75);
}

.custom-navbar-collapse.navbar-collapse {
    display: none!important;
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* border: 5px solid #fff; */
    transition: all 0.5s ease-in-out;
}

.menu-btn__burger,
.menu-btn__burger::before,
.menu-btn__burger::after {
    width: 30px;
    height: 6px;
    border-radius: 5px;
    background-color: #11212E;
    transition: all 0.5s ease-in-out;
    display: flex;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: "";
    position: absolute;
}

.menu-btn__burger::before {
    transform: translateY(-11px);
}

.menu-btn__burger::after {
    transform: translateY(11px);
}


/* ANIMATION */

.menu-toggler,
.menu-toggler:focus,
.menu-toggler:hover {
    outline: 0;
    padding: 0;
    margin-right: 25px;
}

.menu-toggler.open .menu-btn__burger {
    transform: translateX(-50px);
    background-color: #fff;
    box-shadow: none;
}

.menu-toggler.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-toggler.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.header-right ul li {
    margin-right: 20px;
}

.header-right ul li:last-child {
    margin-right: 0px;
}

.custom-navbar {
    border-bottom: 1px solid #8C8C8E;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 75px;
    z-index: 9;
}

.header-search .custom-input-search {
    width: 100%;
    position: relative;
    background-color: transparent;
    border-radius: 20px;
    box-sizing: border-box;
    border-color: #ffffff;
    font-size: 14px;
    color: #ffffff;
    height: 40px;
    padding-left: 20px;
    border-right: 0;
}

.header-search-section {
    width: 400px;
}

.header-search .custom-input-search::placeholder {
    color: #ffffff;
    opacity: 1;
    /* Firefox */
}

.header-search .custom-input-search:-ms-input-placeholder {
    color: #ffffff;
    opacity: 1;
    /* Firefox */
}

.header-search .custom-input-search:focus {
    outline: 0;
    box-shadow: none;
}

.header-search .custom-input-search::-ms-input-placeholder {
    color: #ffffff;
    opacity: 1;
    /* Firefox */
}

.header-search .btn-search {
    background-color: transparent;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #fff;
    border-left: 0;
    padding-right: 20px;
}

.header-search .btn-search:focus {
    box-shadow: none;
}

.header-search-section {
    width: 420px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


/**header css ends**/


/**footer css**/

.footer {
    background-color: #333438;
    color: #ffffff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-social .social-sec ul li {
    display: inline-block;
    margin-right: .3em;
}

.footer-social .social-sec ul li:last-child {
    margin-right: 0;
}

.footer-social .social-sec ul li .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s linear;
}
.footer-social .social-sec ul li .social-link img{
	max-width: 35px;
}
.footer-social .social-sec ul li .social-link:hover {
    opacity: .9;
}

.footer-menulist .footer-menulink {
    margin-right: 30px;
    position: relative;
    padding-right: 30px;
}

.footer-menulist .footer-menulink:after {
    content: "|";
    position: absolute;
    right: 0;
    color: #5C5D61;
}

.footer-menulist .footer-menulink:last-child {
    margin-right: 0px;
    padding-right: 0px;
}

.footer-menulist .footer-menulink:last-child:after {
    display: none;
}

.footer-menulist .footer-menulink a {
    color: #FF5A01;
    font-size: 14px;
    transition: all .3s linear;
    letter-spacing: 1px;
}

.footer-menulist .footer-menulink a:hover {
    opacity: .95;
}

.footer-menulist {
    display: inline-flex;
}

.footer .copyright {
    font-size: 14px;
    color: #f3f3f3;
}

.footer .copyright a {
    color: #f3f3f3;
    transition: all .3s linear;
}

.footer .copyright a:hover {
    color: #f4d232;
}

.footer-menu .footer-desc p {
    font-size: 14px;
    color: #f3f3f3;
}

/*.social-twitter {
    background-color: #22BBF4;
}

.socail-youtube {
    background-color: #D72A25;
}

.social-fb {
    background-color: #314A87;
}

.social-linkdin {
    background-color: #006DC0;
}*/
@media(max-width: 991px) and (min-width: 768px){
    .footer-menulist .footer-menulink {
        margin-right: 10px;
        position: relative;
        padding-right: 10px;
    }
}


/**footer css ends**/