
@font-face {
font-family: 'Roboto Regular';
font-style: normal;
font-weight: normal;
src: local('../fonts/Roboto Regular'), url('../fonts/Roboto-Regular.woff') format('woff');
}


@font-face {
font-family: 'Roboto Italic';
font-style: normal;
font-weight: normal;
src: local('../fonts/Roboto Italic'), url('../fonts/Roboto-Italic.woff') format('woff');
}


@font-face {
font-family: 'Roboto Bold';
font-style: normal;
font-weight: normal;
src: local('../fonts/Roboto Bold'), url('../fonts/Roboto-Bold.woff') format('woff');
}


@font-face {
font-family: 'Roboto Bold Italic';
font-style: normal;
font-weight: normal;
src: local('../fonts/Roboto Bold Italic'), url('../fonts/Roboto-BoldItalic.woff') format('woff');
}


@font-face {
font-family: 'Roboto Thin';
font-style: normal;
font-weight: normal;
src: local('../fonts/Roboto Thin'), url('../fonts/Roboto-Thin.woff') format('woff');
}


@font-face {
font-family: 'Roboto Thin Italic';
font-style: normal;
font-weight: normal;
src: local('../fonts/Roboto Thin Italic'), url('../fonts/Roboto-ThinItalic.woff') format('woff');
}


@font-face {
font-family: 'Roboto Light';
font-style: normal;
font-weight: normal;
src: local('../fonts/Roboto Light'), url('../fonts/Roboto-Light.woff') format('woff');
}


@font-face {
font-family: 'Roboto Light Italic';
font-style: normal;
font-weight: normal;
src: local('../fonts/Roboto Light Italic'), url('../fonts/Roboto-LightItalic.woff') format('woff');
}


@font-face {
font-family: 'Roboto Medium';
font-style: normal;
font-weight: normal;
src: local('../fonts/Roboto Medium'), url('../fonts/Roboto-Medium.woff') format('woff');
}


@font-face {
font-family: 'Roboto Medium Italic';
font-style: normal;
font-weight: normal;
src: local('../fonts/Roboto Medium Italic'), url('../fonts/Roboto-MediumItalic.woff') format('woff');
}


@font-face {
font-family: 'Roboto Black';
font-style: normal;
font-weight: normal;
src: local('../fonts/Roboto Black'), url('../fonts/Roboto-Black.woff') format('woff');
}


@font-face {
font-family: 'Roboto Black Italic';
font-style: normal;
font-weight: normal;
src: local('../fonts/Roboto Black Italic'), url('../fonts/Roboto-BlackItalic.woff') format('woff');
}
body,
html {
    font-size: 16px !important;
    font-family: 'Roboto Regular';
    overflow-x: hidden;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

p {
    font-size: 1em;
    margin-bottom: 0;
}

p.big {
    font-size: 1.2em;
}

p.small {
    font-size: .875em;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

li.leftside {
    float: left;
}

a:hover,
a:focus {
    text-decoration: none !important;
    outline: none;
}

.bg-gray {
    background-color: #434449;
}

.bg-gray-light {
    background-color: #e3e3e3;
}

.clr-red {
    color: #FF5A01!important;
}

.bg-red {
    background-color: #FF5A01;
}

.clr-black {
    color: #000000;
}

.clr-white {
    color: #ffffff;
}

.clr-gray {
    color: #434449;
}

.clr-graylight {
    color: #787878;
}

.clr-graylightest {
    color: #A4A4A4;
}

.h100vh {
    min-height: 100vh;
}

.container {
    max-width: 100%;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.font-weight-medium {
    font-weight: 600;
}

.innerpage-banner-section .list-banneroflist {
    position: relative;
    height: 275px;
    /*overflow: hidden;*/
}

.innerpage-banner-section .list-banneroflist img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: 75px;
}

.innerpage-banner-section .list-banneroflist_mobile{
    position: relative;
    height: 275px;
    /*overflow: hidden;*/
}

.innerpage-banner-section .list-banneroflist_mobile img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: 75px;
}

.innerpage-banner-section .list-bannerofcontent {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
    padding: 20px;
}

.innerpage-banner-section .banner-title {
    color: #000;
    font-size: 40px;
    font-family: 'Roboto Black';
}

.innerpage-banner-section .banner-title-desc {
    color: #002C61;
    font-family: 'Roboto Black';
}

.custom-badge {
    position: absolute;
    right: 0;
    top: 0;
}

.category-section {
    padding: 30px 0px 70px 0;
    margin-top: 75px;
    height: calc(100vh - 75px);
    overflow-y: auto;
}

.category-title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.category-name-sec {
    position: absolute;
    left: 0;
    font-family: 'Roboto Black';
}

.category-title {
    font-family: 'Roboto Black';
    text-transform: uppercase;
}

.category-list-col {
    margin-bottom: 30px;
}

.category-list-name p {
    color: #002C61;
    font-family: 'Roboto Black';
}

.category-list-box {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    display: block;
    transition: all .3s linear;
    position: relative;
    border: 1px solid #5d5e67;
}

.category-list-box:hover:before {
    background-color: rgba(255, 90, 1, .5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 1;
}

.category-img-box {
    width: 125px;
    height: 125px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.category-list-section {
    padding: 30px 0 50px 0;
}

.category-img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.product-list-col {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    margin-bottom: 30px;
}

.product-img-box {
    position: relative;
    overflow: hidden;
    height: 220px;
}

.product-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-desc-sec {
    position: relative;
    background-color: #333438;
    padding: 5px 10px 10px 10px;
}

.product-list-box {
    border: 1px solid #5d5e67;
    display: block;
}

.product-cart {
    position: absolute;
    right: 15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #ff5139;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -25px;
    transition: all .3s linear;
    border: 1px solid #fff;
}

.product-cart:hover,
.product-cart:focus {
    background-color: rgba(0, 0, 0, .75);
    border: 1px solid #fff;
    outline: none;
    box-shadow: none;
}

.product-cart img {
    height: 25px;
}

.product-price {
    font-family: 'Roboto Black';
    font-size: 20px;
}

.product-name {
    font-size: 14px;
}

.product-list-section {
    padding: 30px 0 0px 0;
}

.custom-pagination .page-item:first-child .page-link,
.custom-pagination .page-item:last-child .page-link {
    border-radius: 0;
    color: #fff;
}

.custom-pagination .page-item {
    margin-right: 10px;
}

.custom-pagination .page-item:last-child {
    margin-right: 0;
}

.custom-pagination .page-item .page-link {
    background-color: #333438;
    color: #FF5A01;
    border: transparent;
}

.custom-pagination .page-item.active .page-link {
    background-color: #FF5A01;
    color: #ffffff;
    border: transparent;
}

.custom-modal .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #FF0000!important;
    opacity: 1!important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff!important;
}

.custom-modal .btn-close:focus {
    outline: none;
}

.custom-modal .custom-modal-header {
    background-color: #000000;
    color: #fff;
}

.custom-modal .custom-modal-title {
    font-size: 21px;
    font-weight: bold;
}

.custom-modal .btn-add-extra {
    margin-right: 20px;
    background-color: red;
    color: #fff!important;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    border: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.custom-modal .btn-add-extra span img {
    margin-right: 10px;
}

.custom-modal .modal-label {
    color: #666666;
    font-size: 18px;
    font-weight: bold;
}

.custom-modal .modal-desc {
    background-color: #EDEDED;
    border-radius: 26px;
    border: 0;
}

.custom-modal .modal-dialog {
    max-width: 800px;
}

.modal-data-sec {
    background-color: #f4f4f4;
    padding: 10px 20px;
}

.btn-type {
    background-color: #fff;
    margin-right: 10px;
    padding: 4px 20px;
    font-size: 14px;
    text-transform: capitalize;
    transition: all .3s linear;
    border: 1px solid #000000;
}

.btn-type:hover,
.btn-type:focus {
    background-color: #FF0000;
    color: #fff;
    border: 1px solid #FF0000;
    outline: none;
    box-shadow: none;
}

.custom-checkbox-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}
.chiller_cb.col-md-4{
    padding-left: 0;
}
.span_pseudo,
.chiller_cb span:before,
.chiller_cb span:after {
    content: "";
    display: inline-block;
    background: #fff;
    width: 0;
    height: 0.2rem;
    position: absolute;
    transform-origin: 0% 0%;
}

.chiller_cb {
    position: relative;
    height: 2rem;
    display: flex;
    align-items: center;
}

.chiller_cb input {
    display: none;
}

.chiller_cb input:checked~span {
    background: #ff0000;
    border-color: #ff0000;
}

.chiller_cb input:checked~span:before {
    width: 1rem;
    height: 0.15rem;
    transition: width 0.1s;
    transition-delay: 0.3s;
}

.chiller_cb input:checked~span:after {
    width: 0.4rem;
    height: 0.15rem;
    transition: width 0.1s;
    transition-delay: 0.2s;
}

.chiller_cb input:disabled~span {
    background: #ececec;
    border-color: #dcdcdc;
}

.chiller_cb input:disabled~label {
    color: #dcdcdc;
}

.chiller_cb input:disabled~label:hover {
    cursor: default;
}

.chiller_cb label {
    padding-left: 2rem;
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin-bottom: 0;
}

.chiller_cb span {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid #ccc;
    position: absolute;
    left: 0;
    transition: all 0.2s;
    z-index: 1;
    box-sizing: content-box;
}

.chiller_cb span:before {
    transform: rotate(-55deg);
    top: 1rem;
    left: 0.37rem;
}

.chiller_cb span:after {
    transform: rotate(35deg);
    bottom: 0.35rem;
    left: 0.2rem;
}

.branch-sec.newsroom .thumbnail {
    margin-bottom: 30px;
    font-size: 1rem;
}

.branch-sec {
    padding: 30px 0;
}

.branch-sec .thumbnail {
    position: relative;
    padding: 0;
    border: none;
    margin-bottom: 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    height: 200px;
    overflow: hidden;
    border: 1px solid #5d5e67;
}

.branch-sec.newsroom .featured .thumbnail {
    margin-bottom: 15px;
}

.branch-sec.newsroom .thumbnail:hover .news-title-featured {
    display: none;
}

.branch-sec.newsroom img {
    display: block;
    /* width: 100%;
    height: 100%;
    object-fit: cover;*/
}

.branch-sec .thumbnail .overlay {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.branch-sec .thumbnail:hover .overlay-inner {
    background-color: transparent;
}

.branch-sec .thumbnail .overlay-inner {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0px;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.branch-sec.newsroom .thumbnail a {
    text-decoration: none;
}

.branch-sec .thumbnail .overlay-inner h4 {
    text-transform: inherit;
    font-weight: 300;
    color: #fff;
    font-size: 18px;
    margin-bottom: 0;
}

.branch-sec .thumbnail:hover .overlay {
    /*background-color: rgba(248, 0, 0, 0.8);*/
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.branch-sec .thumbnail .overlay-inner .title-hover {
    display: none;
}

.branch-sec .thumbnail:hover .news-title {
    display: none;
}

.branch-sec .thumbnail:hover .title-hover {
    display: block;
}

@media only screen and (max-width: 991px) {
    .branch-sec.newsroom .thumbnail {
        font-size: .7rem;
    }
}

.brach-categories .item a {
    background: #333437;
    text-align: center;
    height: 180px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-radius: 8px;
    white-space: initial;
    margin: 15px 0;
    padding: 0 5px;
    border: 3px solid transparent;
    color: #ffffff;
    font-family: 'Roboto Black';
    border: 1px solid #5d5e67;
}

.brach-categories a:hover {
    border: 3px solid #FF5A01;
}

.brach-categories .item a:hover {
    color: #ffffff;
}

.brach-categories .item .m-item {
    display: block;
    padding: 0;
    width: auto;
}

.brach-categories .item img {
    max-width: 60px !important;
    /*height: 50px !important;*/
}

.branch-page .brach-categories .item img {
    max-width: 100px !important;
    height: 100px!important;
}

.m-item:hover img {
    /* fill: #939598; */

    fill: #FF5A01;
    /*-webkit-animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
    animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;*/
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.m-item img {
    margin: 0 auto;
}

.brach-categories .item a .m-item span {
    font-size: 16px;
    margin: 30px 0 0;
    display: block;
    text-transform: capitalize;
}

.mw-400 {
    max-width: 400px!important;
}

.btn-login {
    background-color: #FF0000;
    color: #fff;
    padding: 5px 20px;
    transition: all .3s linear;
    border: 1px solid #FF0000;
    text-transform: uppercase;
}

.btn-login:hover {
    background-color: #fff;
    color: #FF0000;
}

.custom-input-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-icon {
    position: absolute;
    left: 10px;
}

.custom-input-box .custom-input {
    padding-left: 35px;
}
.product-subtotal label{
    font-family: 'Roboto Black';
}


/*css for 25-09-2020*/

.web-order-success .check-circle-icon {
    color: #79c349;
    font-size: 2.5em;
}

.web-order-success {
    background-color: #333438;
    padding: 50px 20px;
    box-shadow: 9px 15px rgba(0, 0, 0, .75);
    color: #ffffff;
}

.web-order-success .btn-web-order-continue {
    background-color: red;
    color: #fff!important;
    padding: 5px 20px;
/ display: flex; /
align-items: center;
    border: 0;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

.web-order-success .btn-web-order-continue span img {
    height: 10px;
    margin-right: 10px;
}

.web-order-success .order-success-title {
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'Roboto Black';
    margin-bottom: 15px;
}

.web-order-success .web-order-name-number,
.web-order-success .web-order-desc {
    font-size: 13px;
}

.web-order-success .web-order-name-number .web-order-number {
    color: #FF5A01;
}


/*about us page css*/

.about {
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 30px;
}

.about h1 {
    padding: 10px 0;
    margin-bottom: 20px;
}

.about h2 {
    opacity: 1;
    font-size: 1.8em;
    color: #fff;
}

.about span {
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: auto;
    border-radius: 50%;
    font-size: 30px;
    color: #FFFFFF;
    opacity: 1;
    background-color: #FF5A01;
    border: 2px solid #FF5A01;
    webkit-transition: all .5s ease;
    moz-transition: all .5s ease;
    os-transition: all .5s ease;
    transition: all .5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.about-item:hover span {
    opacity: 1;
    border: 2px solid #FF5A01;
    font-size: 35px;
    -webkit-transform: scale(1.1, 1.1) rotate(360deg);
    -moz-transform: scale(1.1, 1.1) rotate(360deg);
    -o-transform: scale(1.1, 1.1) rotate(360deg);
    transform: scale(1.1, 1.1) rotate(360deg);
}

.about .lead {
    color: #f3f3f3;
    font-size: 14px;
}

.contact-us-content {
   /* padding-bottom: 30px;*/
}

.btn-contact {
    background-color: red;
    color: #fff!important;
    padding: 5px 20px;
 display: flex; 
 justify-content: center;
 text-align: center;
align-items: center;
    border: 1px solid #FF0000;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    transition: all .3s linear;
}

.btn-contact:hover {
    background-color: #fff;
    color: red!important;
}

.banner-contact-left {
    /*height: 100%;*/
}

.banner-contact-left img {
    height: 100%;
    object-fit: cover;
    width: 100%
}

.product-table-section{
    background-color: #fdfdfe;
    margin: 30px 0;
    padding: 30px 0;
}
.price-header{
    font-family: 'Roboto Black';
}
.product-light-header {
    text-align: right;
    display: flex;
    justify-content: flex-end;
}
.voucher-code{
        display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    
}
.voucher-code .btn-apply{
    margin-left: 10px;
}


/*css 29-09-2020 for order-listing page*/

.custom-table-wrapper .btn-search {
    float: right;
    border-radius: 3px;
    outline: none !important;
    margin-left: 10px;
    background-color: #FF5A01;
    color: #fff;
    transition: all .3s linear;
    padding: 4px 20px;
    text-transform: uppercase;
    font-size: 14px;
}

.show-entries select.form-control {
    width: 70px;
    margin: 0 5px;
}

.show-entries select.form-control:focus,
.show-entries select.form-control:hover,
.filter-group select.form-control:focus,
.filter-group select.form-control:hover,
.product-table-section .table-filter input:focus,
.product-table-section .table-filter input:hover {
    outline: none;
    box-shadow: none;
    border-color: inherit;
}

.product-table-section .table-filter .filter-group {
    float: right;
    margin-left: 15px;
}

.product-table-section .table-filter input,
.product-table-section .table-filter select {
    height: 34px;
    border-radius: 3px;
    border-color: #ddd;
    box-shadow: none;
}

.product-table-section .table-filter {
    padding-bottom: 25px;
}

.product-table-section .table-filter .btn {
    height: 34px;
}

.product-table-section .table-filter label {
    font-weight: normal;
    margin-left: 10px;
}

.product-table-section .table-filter select,
.product-table-section .table-filter input {
    display: inline-block;
    margin-left: 5px;
}

.product-table-section .table-filter input {
    width: 200px;
    display: inline-block;
}

.filter-group select.form-control {
    width: 110px;
}

.custom-table-product .table tr th,
.custom-table-product .table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}

.custom-table-product .table tr th:first-child {
    width: 60px;
}

.custom-table-product .table tr th:last-child {
    width: 80px;
}

.custom-table-product .table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

.custom-table-product .table td a.view {
    width: 30px;
    height: 30px;
    background-color: #FF5A01;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.custom-table-product .table td a.view i {
    font-size: 14px;
}

.custom-table-product .status {
    font-size: 30px;
    margin: -2px 2px 0 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 10px;
}

.custom-table-product {
    padding-bottom: 30px;
}

.pagination-sec .pagination {
    float: right;
    margin: 0 0 5px;
}

.pagination-sec .pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}

.pagination-sec .pagination li a:focus {
    box-shadow: none;
}

.pagination-sec .pagination li a:hover {
    color: #666;
}

.pagination-sec .pagination li.active a {
    background: #ff5a01;
    color: #fff;
}

.pagination-sec .pagination li.active a:hover {
    background: #ff5a01;
    color: #fff;
}

.pagination-sec .pagination li.disabled i {
    color: #ccc;
}

.pagination-sec .pagination li i {
    font-size: 16px;
    padding-top: 6px
}

.hint-text {
    float: left;
    font-size: 13px;
}

.footer {
    z-index: 9;
}

@media(min-width:1024px) {
    .product-table-section .table-filter .filter-group {
        display: flex;
        margin-left: 15px;
        align-items: center;
    }
    .product-table-section .table-filter label {
        margin-bottom: 0;
    }
}

@media(max-width:767px) {
    .custom-table-product {
        white-space: nowrap;
    }
    .product-table-section .table-filter label {
        margin-left: 0;
    }
    .product-table-section .table-filter .filter-group {
        float: left;
        margin-left: 0;
        margin-bottom: 10px;
        width: 100%;
    }
    .product-table-section .table-filter .filter-group.name-search {
        display: flex;
    }
    .show-entries {
        margin-bottom: 10px;
    }
    .pagination-sec .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        float: none!important;
    }
}
.banner-contact-left{
    text-align: left;
    background-color: #333438;
    padding: 50px 20px;
    box-shadow: 9px 15px rgba(0, 0, 0, .75);
    color: #ffffff;
    height: calc(100% - 20px);
}
.banner-contact-left .contact-title{
    font-family: 'Roboto Black';
    text-transform: uppercase;
    font-size: 1.5em;
}
.banner-contact-left .address-detail,.banner-contact-left .contact-call{
    display: block;
    color: #fff!important;
    margin-top: 20px;
}
.banner-contact-left .address-detail .contact-icon,.banner-contact-left .contact-call .contact-icon{
    color: #FF5A01;
}

/*css for 05-10-2020*/

.border-bottom-orange {
    border-bottom: 2px solid #ff5a01;
    margin: 0 15px;
}

.product-right-data {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.product-right-data .right-arrow a {
    padding-left: 20px;
    color: #ff5a01;
}